*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 980px) {
    html {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.btn {
  display: inline-block;
  border: none;
  cursor: pointer; }

.btn {
  color: #f9f7f6;
  background-color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem; }

.main-layout {
  display: grid;
  grid-template-columns: 6rem 1fr; }
  @media screen and (max-width: 880px) {
    .main-layout {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr; } }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem; }

.navigation {
  background-color: #c69963; }
  @media screen and (max-width: 880px) {
    .navigation {
      display: flex;
      justify-content: end; } }
  .navigation .nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
    text-align: center; }
    @media screen and (max-width: 880px) {
      .navigation .nav-wrapper {
        margin: 2rem 0;
        width: 7.5rem; } }
    @media screen and (max-width: 580px) {
      .navigation .nav-wrapper {
        width: 5.5rem; } }
  .navigation span {
    margin: 0 auto;
    width: 70%;
    height: 2px;
    background-color: black; }

.header {
  display: grid;
  grid-template-columns: 70fr 30fr;
  height: 80vh; }
  @media screen and (max-width: 730px) {
    .header {
      grid-template-columns: 1fr;
      height: calc(100vh - 6rem); } }
  @media screen and (max-width: 580px) {
    .header {
      height: auto; } }
  .header__left-header {
    padding: 3rem 5rem;
    display: grid;
    gap: 5rem;
    background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url(../img/hero.jpeg);
    background-position: center;
    background-size: cover; }
    @media screen and (max-width: 580px) {
      .header__left-header {
        padding: 3rem 2rem; } }
  .header__logo {
    height: 3rem;
    display: flex;
    justify-content: center; }
    .header__logo img {
      height: 100%;
      display: block; }
  .header-text__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #c69963;
    letter-spacing: 1px; }
  .header-text__subtitle {
    font-size: 4rem;
    text-transform: capitalize;
    color: #f9f7f6; }
    @media screen and (max-width: 800px) {
      .header-text__subtitle {
        line-height: 1;
        margin: 1rem 0; } }
    @media screen and (max-width: 580px) {
      .header-text__subtitle {
        font-size: 2.5rem;
        line-height: 1.3; } }
  .header-text__btn {
    margin-top: 1.5rem;
    color: #f9f7f6;
    background-color: #c69963;
    font-size: 1.6rem;
    padding: 1.5rem 3rem; }
  .header__feature {
    display: grid;
    gap: 1rem; }
    .header__feature-text {
      letter-spacing: 1px;
      color: #aaa;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      text-transform: uppercase;
      align-items: center;
      gap: 1rem; }
      .header__feature-text::before, .header__feature-text::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: #aaa; }
    .header__feature-box {
      display: flex;
      justify-content: space-around; }
      .header__feature-box img {
        height: 2vw;
        filter: brightness(70%);
        display: block; }
        @media screen and (max-width: 730px) {
          .header__feature-box img {
            height: 3vw; } }

.realtors {
  background-color: #101d2c;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 4rem; }
  @media screen and (max-width: 730px) {
    .realtors {
      padding: 4rem 0; } }
  .realtors__title {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #B28451;
    font-weight: 500; }

.realtors-warpper {
  display: grid;
  gap: 3rem; }
  @media screen and (max-width: 730px) {
    .realtors-warpper {
      display: flex; } }
  @media screen and (max-width: 580px) {
    .realtors-warpper {
      display: grid;
      grid-template-columns: 1fr; } }

.realtor {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center; }
  .realtor__img {
    grid-row: 1/span 2;
    margin-right: 1rem; }
    .realtor__img img {
      border-radius: 50%;
      height: 4.5vw;
      display: block; }
      @media screen and (max-width: 730px) {
        .realtor__img img {
          height: 5.5vw; } }
      @media screen and (max-width: 580px) {
        .realtor__img img {
          height: 9.5vw; } }
  .realtor__name {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    align-self: end;
    color: #f9f7f6; }
  .realtor__sold {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    align-self: start;
    color: #aaa; }

.features {
  color: black;
  font-size: 1.5rem; }

.features-wrapper {
  margin: 7vw auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 4rem; }
  @media screen and (max-width: 580px) {
    .features-wrapper {
      margin: 10rem 0; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: start;
  row-gap: 1rem;
  column-gap: 2rem; }
  .feature__icon {
    fill: #c69963;
    height: 3vw;
    display: block;
    grid-row: 1/2 span;
    width: 4vw; }
    @media screen and (max-width: 730px) {
      .feature__icon {
        height: 5vw;
        width: 5vw; } }
    @media screen and (max-width: 580px) {
      .feature__icon {
        height: 4rem;
        width: 4rem; } }
  .feature__title {
    color: #54483A;
    font-size: 1.8rem; }
  .feature__text {
    color: #6D5D4B;
    font-size: 1.4rem; }

.story {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 730px) {
    .story {
      grid-template-columns: 1fr; } }
  @media screen and (max-width: 580px) {
    .story {
      margin: 8rem 0; } }
  .story__img {
    position: relative;
    background-image: linear-gradient(rgba(198, 153, 99, 0.4), rgba(198, 153, 99, 0.4)), url(../img/back.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    padding: 5vw; }
    .story__img img {
      margin: 0 auto;
      width: 100%;
      display: block;
      object-fit: cover;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }
      @media screen and (max-width: 730px) {
        .story__img img {
          margin: 0;
          margin-right: auto;
          width: 50%; } }
  .story-img2 {
    position: absolute;
    bottom: 4rem;
    right: -5rem;
    z-index: 2;
    width: 50% !important;
    aspect-ratio: 4/2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 730px) {
      .story-img2 {
        right: 5rem; } }
  .story__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    background-color: #f9f7f6;
    color: white;
    padding: 7vw; }
    .story__text-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.8rem;
      color: #B28451; }
    .story__text-subtitle {
      text-transform: capitalize;
      font-style: italic;
      font-size: 3rem;
      color: #54483A; }
    .story__text-para {
      font-size: 1.6rem;
      color: #6D5D4B; }
  .story-btn {
    margin-top: 2rem;
    align-self: flex-start; }

.homes {
  margin: 10vw auto; }
  .homes-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem; }
    .homes-wrapper__home {
      background-color: #f9f7f6; }
      .homes-wrapper__home img {
        width: 100%;
        display: block; }
      .homes-wrapper__home-name {
        font-size: 1.8rem;
        background-color: #101d2c;
        padding: 1.2rem 2rem;
        text-align: center;
        color: #f9f7f6;
        width: 80%;
        margin: 0 auto;
        transform: translateY(-26px); }
      .homes-wrapper__home .list-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 3rem;
        gap: 2rem;
        margin: 2rem 0; }
        .homes-wrapper__home .list-container-item {
          display: flex;
          align-items: center;
          font-size: 1.8rem; }
          .homes-wrapper__home .list-container-item svg {
            fill: #6D5D4B;
            height: 2.5vw;
            width: 1.5vw;
            margin-right: 1rem; }
            @media screen and (max-width: 730px) {
              .homes-wrapper__home .list-container-item svg {
                height: 4.5vw;
                width: 3.5vw; } }
  .homes__btn {
    font-weight: 500;
    width: 100%;
    padding: 2rem 3rem; }

.gallery {
  background-color: #f9f7f6;
  padding: 1.5rem; }
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1.5rem; }
    @media screen and (max-width: 580px) {
      .gallery-wrapper {
        gap: .5rem; } }
  .gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block; }
  .gallery .img--1 {
    grid-row: 1 / 2 span;
    grid-column: 1 / 2 span; }
  .gallery .img--2 {
    grid-row: 1 / 3 span;
    grid-column: 3 / 3 span; }
  .gallery .img--3 {
    grid-row: 1 / 2 span; }
  .gallery .img--4 {
    grid-row: 1 / 2 span;
    grid-column: 7 / 2 span; }
  .gallery .img--5 {
    grid-row: 3 / 3 span;
    grid-column: 1 / 2 span; }
  .gallery .img--6 {
    grid-row: 4 / 2 span;
    grid-column: 3 / 2 span; }
  .gallery .img--7 {
    grid-row: 4 / 1 span; }
  .gallery .img--8 {
    grid-row: 3 / 2 span;
    grid-column: 6 / 2 span; }
  .gallery .img--9 {
    grid-row: 3 / 3 span; }
  .gallery .img--10 {
    grid-row: 6 / 2 span; }
  .gallery .img--11 {
    grid-row: 6 / 2 span;
    grid-column: 2 / 2 span; }
  .gallery .img--12 {
    grid-row: 6 / 2 span; }
  .gallery .img--13 {
    grid-row: 5 / 3 span;
    grid-column: 5 / 3 span; }
  .gallery .img--14 {
    grid-row: 6 / 2 span; }

.footer {
  background-color: #101d2c;
  padding: 5rem 0 1rem; }
  .footer__list-container {
    list-style: none;
    display: flex;
    min-width: 6rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center; }
  .footer__item {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #f9f7f6;
    margin-top: 1rem; }
  .footer p {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    text-align: center;
    color: #aaa; }
