.features{
    color: black;
    font-size: 1.5rem;
    // background-color: red;

}

.features-wrapper{
    margin: 7vw auto;
    // background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(31rem,1fr));
    gap: 4rem;
}

.feature{
    // background-color: grey;

    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: start;
    row-gap: 1rem;
    column-gap: 2rem;

    &__icon{
        fill:$color-primary ;
        // background-color: orange;
        height: 3vw;
        display: block;
        grid-row: 1/2 span;
        width: 4vw;
    }

    &__title{
        // background-color: yellow;
        color: $color-grey-dark-1;
        font-size: 2.5rem;

    }
    
    &__text{
        // background-color: purple;
        color: $color-grey-dark-2;
        font-size: 1.8rem;
    }
}

