.footer{
    background-color: $color-secondary;
    padding: 5rem 0 1rem;
    &__list-container{
        list-style: none;
        display: flex;
        min-width: 6rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }   

    &__item{
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $color-grey-light-1;
        margin-top: 1rem;
    }

    p{
        font-size: 1.2rem;
        margin-top: 2.5rem;
        text-align: center;
        color: $color-grey-light-2;
    }
}