//////////////////////////////////////////
// Header section layout

.main-layout{
    // background-color: red;
    display: grid;
    // height: 80vh;
    grid-template-columns: 6rem 1fr;
}

.navigation{
    // display: flex;
    // align-items: flex-start;
    background-color: $color-primary;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.navigation{

    .nav-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem auto;
        text-align: center;
    }
    span{
        margin: 0 auto;
        width: 70%;
        height: 2px;
        background-color: black;
    }
}