.realtors{

    background-color: $color-secondary;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 4rem;

    @media screen and (max-width:730px) {
        padding: 4rem 0;
    }

    &__title{
        text-transform: uppercase;
        // color: red;
        font-size: 1.6rem;
        color: $color-primary-dark;
        font-weight: 500;
    }
}

.realtors-warpper{
    // background-color: red;
    display: grid;
    gap: 3rem;
    @media screen and (max-width:730px) {
        display: flex;
        
    }
    @media screen and (max-width:580px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.realtor{
    display: grid;
    grid-template-columns: min-content 1fr;
    // background-color: blue;
    align-items: center;
    // gap: 1rem;
    &__img{
        grid-row: 1/span 2 ;
        // background-color: green;
        margin-right: 1rem;
        img{
            border-radius: 50%;
            height: 4.5vw;
            display: block;
            @media screen and (max-width:730px) {
                height: 5.5vw;
            }
            @media screen and (max-width:580px) {
                height: 9.5vw;
            }
        }
    }
    &__name{
        // background-color: yellow;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.6rem;
        align-self: end;
        color: $color-grey-light-1;
    }
    &__sold{
        // background-color: pink;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.3rem;
        align-self: start;
        color: $color-grey-light-2;
    }
}