.story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: red;

    &__img{
        position: relative;
        background-image: linear-gradient(rgba($color-primary,.4),rgba($color-primary,.4)),url(../img/back.jpg);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        display: flex;
        padding: 5vw;
        img{
            margin: 0 auto;
            // width: 80%;
            width: 100%;
            display: block;
            object-fit: cover;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }
}

    &-img2{
        position: absolute;
        bottom: 4rem;
        right: -5rem;
        z-index: 2;
        width: 50% !important;
        aspect-ratio: 4/2;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        background-color: $color-grey-light-1;
        color: white;
        padding: 7vw;
        &-title{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.8rem;
            color: $color-primary-dark;
        }
        &-subtitle{
            text-transform: capitalize;
            font-style: italic;
            font-size: 3rem;
            color: $color-grey-dark-1;
        }
        &-para{
            font-size: 1.6rem;
            color: $color-grey-dark-2;
        }
    }
    &-btn{
        margin-top: 2rem;
        align-self: flex-start;
    }
}
