/*

COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "open-sans",sans-serif;
  color: var(--gray-dark-1);
  background-image: linear-gradient(to right bottom, var(--primary-dark), var(--primary-light));
  background-size: cover;
  background-repeat: no-repeat; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*

COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "open-sans",sans-serif;
  color: var(--gray-dark-1);
  background-image: linear-gradient(to right bottom, var(--primary-dark), var(--primary-light));
  background-size: cover;
  background-repeat: no-repeat; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  min-height: 100vh;
  max-width: 120rem;
  background-color: #fff;
  margin: 8rem auto;
  box-shadow: 0px 1px 10px 0px black; }
  @media screen and (max-width: 1200px) {
    .container {
      margin: 0; } }

.header-nav {
  display: flex;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 560px) {
    .header-nav {
      flex-wrap: wrap; } }
  .header-nav .logo img {
    height: 3rem;
    width: 100%; }
  @media screen and (max-width: 560px) {
    .header-nav .searchBox {
      order: 5;
      padding-top: 1rem;
      flex-grow: 1; } }
  .header-nav .search {
    border: none;
    background-color: var(--grey-light-3);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.6rem; }
    @media screen and (max-width: 560px) {
      .header-nav .search {
        width: 100%; } }
  .header-nav .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .header-nav .profile a {
      font-size: 1.6rem;
      text-decoration: none;
      color: var(--dark-gray-2); }
    .header-nav .profile .user {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center; }
      .header-nav .profile .user img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }

.active {
  background-color: var(--primary-light); }

.contant {
  display: flex; }
  @media screen and (max-width: 900px) {
    .contant {
      flex-direction: column; } }

.contant-nav {
  flex-basis: 80rem;
  background-color: var(--grey-dark-1);
  color: white;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .contant-nav {
      flex-direction: row;
      flex-basis: 0;
      padding: 0; } }
  .contant-nav .navigation {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    font-size: 1.6rem; }
    @media screen and (max-width: 900px) {
      .contant-nav .navigation {
        flex-direction: row;
        justify-content: center; } }
    .contant-nav .navigation a {
      display: inline-block;
      padding: 1.5rem 2rem;
      width: 100%;
      font-size: 1.6rem;
      text-decoration: none;
      color: var(--dark-gray-2); }
      .contant-nav .navigation a:hover {
        background-color: var(--primary-light); }
  .contant-nav .copyright {
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    padding: 0rem 2rem;
    color: whitesmoke; }
    @media screen and (max-width: 900px) {
      .contant-nav .copyright {
        display: none; } }

.main-contant {
  flex-grow: 1;
  background-color: var(--grey-light-2); }

.showcase-imgs {
  display: flex; }
  .showcase-imgs__wrapper {
    flex-grow: 1; }
  .showcase-imgs__img {
    height: 100%;
    width: 100%; }

.overview-sec {
  padding: 1.5rem 0rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .overview-sec {
      padding: 0; } }
  .overview-sec__hotel {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    text-transform: uppercase;
    flex-basis: 40%; }
    @media screen and (max-width: 900px) {
      .overview-sec__hotel {
        font-size: 25px; } }
    .overview-sec__hotel .name {
      color: var(--grey-dark-1); }
    .overview-sec__hotel .rating {
      color: var(--primary); }
  .overview-sec__more {
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1130px) {
      .overview-sec__more {
        text-align: center; } }
    .overview-sec__more__location {
      font-size: 2rem; }
      @media screen and (max-width: 900px) {
        .overview-sec__more__location {
          font-size: 14px; } }
    .overview-sec__more__vote {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 1rem;
      background-color: var(--primary);
      color: white; }
      .overview-sec__more__vote .rate-2 {
        font-size: 2rem; }
      .overview-sec__more__vote .total-votes {
        font-size: 1.3rem; }

.feature-contant {
  width: 100%;
  padding: 2rem;
  color: gray;
  display: flex; }
  @media screen and (max-width: 900px) {
    .feature-contant {
      flex-direction: column; } }

.feature {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 3rem;
  margin: 2rem;
  font-size: 1.6rem;
  color: var(--grey-dark-1); }
  .feature__para {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .feature__para-one {
      font-size: 1.6rem; }
    .feature__para-two {
      margin-bottom: 2rem;
      font-size: 1.6rem; }
  .feature__list {
    display: flex;
    font-size: 1.2rem;
    gap: 4rem;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    border-top: 1px solid rgba(128, 128, 128, 0.5); }
    @media screen and (max-width: 970px) {
      .feature__list {
        gap: 1rem; } }
    @media screen and (max-width: 900px) {
      .feature__list {
        gap: 3rem; } }
    v
.feature__list-two {
      font-size: 1.6rem; }
    .feature__list ul {
      color: red;
      list-style: "> ";
      list-style-position: inside;
      display: flex;
      gap: 2rem;
      flex-direction: column; }
      .feature__list ul li {
        font-size: 1.6rem;
        color: var(--grey-dark-1); }
  .feature__last {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .feature__last-text {
      font-size: 1.6rem; }
    .feature__last-imgs {
      display: flex; }
      .feature__last-imgs .img-wrapper {
        margin-left: -1rem; }
        .feature__last-imgs .img-wrapper img {
          border: solid 2px white;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          width: 100%; }

.testimonial {
  margin: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: gray;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between; }
  .testimonial__first {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: white;
    font-size: 1.6rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  .testimonial__second {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  .testimonial__para {
    font-size: 1.6rem; }
  .testimonial__review {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .testimonial__info {
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    align-items: center; }
  .testimonial__img {
    font-size: 1.6rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .testimonial__name {
    font-size: 1.2rem;
    color: var(--grey-dark-1);
    text-transform: uppercase;
    font-weight: bold; }
  .testimonial__date {
    font-size: 1.4rem;
    margin-top: .3rem; }
  .testimonial__vote {
    font-size: 2rem;
    color: var(--primary-light); }
  .testimonial__show-all {
    text-decoration: underline;
    text-align: center;
    font-size: 1.9rem;
    text-underline-offset: 0.3rem; }
    .testimonial__show-all a {
      color: var(--primary-dark); }

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0; }
  .booking__para {
    font-size: 2rem;
    color: var(--grey-dark-1); }
  .booking a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to left bottom, var(--primary-dark), var(--primary-light));
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.7rem 7rem;
    box-sizing: border-box;
    display: inline-block;
    transition: all .3s; }
    .booking a:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px); }
