@import 'base';

.container{
    min-height: 100vh;
    // display: flex;
    max-width: 120rem;
    background-color: #fff;
    margin: 8rem auto;
    box-shadow: 0px 1px 10px 0px black;
}

.header-nav{
    display: flex;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    align-items: center;

    .logo{
        img{
            height: 3rem;
            width: 100%;
        
        }
    }

    .search{
            // width: 100%;
            border: none;
            background-color: var(--grey-light-3);
            padding: 1rem 2rem;
            border-radius: 2rem;
            font-size: 1.6rem;
    }

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        a{
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--dark-gray-2);
        }

        .user{  
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            img{
                height: 3rem ;
                width: 3rem ;
                border-radius: 50%;
            }
        }
    }
}

.active{
    background-color: var(--primary-light);
}

.contant{
    display: flex;

    .contant-nav{
        flex-basis: 17rem;
        background-color: var(--grey-dark-1);
        color: white;
        padding:2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .navigation{
            list-style: none;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            font-size: 1.6rem;
            a{
                display: inline-block;
                padding: 1.5rem 2rem;

                // padding: 5rem;
                font-size: 1.6rem;
                text-decoration: none;
                color: var(--dark-gray-2);
            }
        }
        .copyright{
            display: inline-block;
            padding: 0rem 2rem;
            color: whitesmoke;
        }
        
    }
    .main-contant{
        flex-grow: 1;
        background-color: yellow;
        height: 50rem;
    }
}

